<md-dialog id="brand-banner-modal" aria-label="default">

  <md-toolbar>
    <div class="md-toolbar-tools" layout='row'>
      <h1>Choose a banner image for your brand</h1>
      <span flex></span>
      <md-button ng-click="close()" class="md-icon-button" aria-label="close button">
        <ng-md-icon class='light' icon="close" size="24"></ng-md-icon>
        <md-tooltip>
          Close
        </md-tooltip>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content layout='row' layout-wrap"md-padding">

    <md-tabs md-dynamic-height md-border-bottom md-center-tabs>

      <md-tab label="Upload an image">
        <md-content class="md-padding">
          <h1> Tab One</h1>
        </md-content>
      </md-tab>

      <md-tab label="one">
        <md-content class="md-padding">
          <h1 >Tab One</h1>
        </md-content>
      </md-tab>

    </md-tabs>

  </md-dialog-content>

  <!-- <md&#45;dialog&#45;actions> -->
  <!-- </md&#45;dialog&#45;actions> -->

</md-dialog>
